@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width:5px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    width: 0px;
  border-radius: 20px;
  background-color: #98cad3;
}

/* ::-webkit-scrollbar-horizontal {
  width:0px;
  background-color: "transparent";
} */
/* ::-webkit-scrollbar {
  width:0px;
  background-color: "transparent";
 
} */


body{
    background-color: rgb(247, 248, 252);
}