@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width:8px;
  background-color: #2b2c31;
}
::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 20px;
  background-color: #202125;
}

/* ::-webkit-scrollbar-horizontal {
  width:0px;
  background-color: "transparent";
} */
/* ::-webkit-scrollbar {
  width:0px;
  background-color: "transparent";
 
} */

.dark {
  background-color: rgb(12, 12, 12);
  color: white;
}


.light {
  background-color: #f8f8f8;
  color: black;
}




/* body{
    background-color:#202125;
    background-color:black;
} */